 .main {
     width: 1440px;
     height: 840px;
     flex-shrink: 0;
     background: hsla(174, 62%, 47%, 0.04);
 }

 .para2 {
     display: none;
 }
 .footer2 {
    display: none;
 }

 .info {
     width: 460px;
     height: 275px;

     margin-bottom: 360px;
     margin-right: 840px;
     position: absolute;
     top: 205px;
     left: 140px;
 }

 .form {
     width: 500px;
     height: 599px;
     flex-shrink: 0;
     background-color: blue;
     border-radius: 6px;
     background: white;
     box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);

     margin-bottom: 80px;
     margin-right: 140px;
     position: absolute;
     top: 81px;
     left: 720px;
 }

 form {

     padding-top: 40px;
     padding-right: 40px;
     padding-left: 40px;
     padding-bottom: 40px;
 }

 .logo {
     width: 77.333px;
     height: 80px;
     flex-shrink: 0;
     filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.10));

     position: absolute;
     left: -7px;

 }

 .heading {
     color: #000B0A;
     font-family: blaze;
     font-size: 40px;
     font-style: normal;
     font-weight: 700;
     line-height: 50px;
     /* 125% */
     letter-spacing: -0.8px;

     margin-top: 130px;
     margin-bottom: 95px;
     margin-right: 192px;
     position: absolute;
     /* top: 130px; */
 }

 .para1 {
     color: #737373;
     font-family: blaze;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 25px;
     letter-spacing: 0.6px;
     width: 460px;
     height: 75px;
     margin-top: 200px;
 }

 form>div {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 form > div > p{
   
    width: 238px;
    height: 72px;
    
}

/* form > div > p:nth-child(2){
    width: 238px;
    height: 72px;
    margin-left:24px;
}

p.top{
    /* position: absolute;
    top: 0px; 
    margin-top: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    position: absolute;
    } */

/* 
.c2>p, .c3>p {
   
    margin-top: 30px;
    margin-bottom: 0;
position: relative;
} */



div > p {
color:#011C34;
font-family: blaze;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.1px;
}

input, select {
    border: transparent;
    width: 237.99px;
    height: 48px;
    border-radius: 1px;
    border: 1px solid #F0F0F0;
    padding: 0;
}

.c3 {
    p {
        width: 500px;
    input, select{
        width: 100%;
        height: 48px;
        flex-shrink: 0;
        margin-left: 0;
        padding: 0;
    }
}
    button {
        width: 500px;
        height: 48px;
        flex-shrink: 0;
        margin-left: 0;
        padding: 0;
        background-color:  #2EC4B6;
filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.10));
border: 0;
    }
}

form footer {
    width: 463px;
    height: 25px;
margin-top: 16px;
font-family: blaze;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 25px;


a{
    text-decoration-line: underline;
    color: #2EC4B6;
}
}



 @media (max-width: 500px) {
     body {
         width: 375px;
         height: 1294px;
     }

     .main {
         flex-shrink: 0;
         width: 375px;
         height: 1294px;

     }

     .info {
         position: relative;
         top: 30px;
         left: 24px;
         margin-bottom: 0px;
         margin-right: 0px;
         bottom: 0px;
         height: 172px;
         width: 327px;
        

     }

     .logo {
         margin-left: 0px;
         margin-top: -3px;
         width: 59px;
         height: 60px;
         flex-shrink: 0;
     }

     .para1 {
         display: none;
         width: 0px;
         height: 0px;
         margin: 0px;
     }

     .heading {

         /* top: 20px;  */
         margin-top: 75px;
         width: 327px;
         height: 30px;
         margin-right: 0px;
         margin-left: 0px;
     }

     .para2 {
         display: block;
         width: 327px;
         height: 50px;
         position: absolute;
         top: 120px;
         color: #737373;
         font-family: Brown;
         font-size: 16px;
         font-style: normal;
         font-weight: 300;
         line-height: 25px;
         letter-spacing: 0.7px;
         word-spacing: 2px;
         text-wrap: 2px;
         margin-top: 0px;


     }

     .s1 {
         position: relative;
         margin-top: 40px;
         top: 30px;
     }

     form>div {
         flex-direction: column
     }

     .form {
         display: block;
         width: 295px;
         height: 815px;
         margin-left: 24px;
         margin-right: 24px;
         margin-top: 40px;
         top: 0px;
         margin-bottom: 0px;
         padding-left: 16px;
         padding-right: 16px;
         padding-bottom: 30px;
         padding-top: 24px;
         position: relative;
         left: 0px;
         right: 0px;
         flex-shrink: 0;
         background-color: blue;
         border-radius: 6px;
         background: white;
         box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);

         p {
             width: 295px;
             height: 72px;
             margin-top: 0px;
             margin-bottom: 24px;
         }

         input,
         select {
             width: 295px;
             height: 48px;
             padding: 0;
             border-radius: 2px;
             border: transparent;
             border: 1px solid #F0F0F0;
             /* opacity: 0.06; */
         }


         button {
             width: 295px;
             height: 48px;
             margin-bottom: 0px;
             padding: 0;
             margin-left: 0px;
         }
         .footer1{
            display: none;
            margin: 0;
         }

        }


.footer1{
    display: none;
}
         .footer2 {
            position: relative;
            display: block;
             width: 316px;
             color: #000;
             text-align: center;
             font-family: Sofia Pro;
             font-size: 14px;
             font-style: normal;
             font-weight: 400;
             line-height: 25px;
             margin-top: 54px;
             margin-left: 29.5px;
             margin-right: 29.5px;
             /* 178.571% */
             
             

             a {
                 text-decoration-line: underline;
                 color: #2EC4B6;
             }
         }
     

     .logo {
         width: 38.667px;
         height: 40px;
         flex-shrink: 0;
     }













 }