@font-face {
    font-family: lato;
    src: url(./assets/fonts/Lato-Light.ttf);
}

body {
    width: 100%;
    background: #F5F8FA;
}



.logo {
    width: 200px;
    margin-left: 0;

}
.top {
    border-bottom: 2px solid #E0E6EA;
    /* #E0E6EA */
}

.wrapper {
    padding-left: clamp(16px, 2.778%, 60px);
    padding-right: clamp(16px, 2.778%, 60px);
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: black;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background: #1179BF;
    border-radius: 10px;
}


.font{
    color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.008px;
}



.account {
    border-radius: 6px;
    border: 2px solid #646E7A;
}

.wrapper2 {
    display: flex;
    margin-left: 15.9722%;
    margin-right: 15.9722%;
    margin-top: 6.5%;
    margin-bottom: 6.2%;
    border-radius: 6px;


}

.sect1 {
    flex: 65%;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.10);

    section {
        padding-left: clamp(20px, 8.76%, 60px);
        padding-right: clamp(20px, 8.76%, 60px);
        border-bottom: 2px solid #F5F7FA;
        border-width: 100%;
    }

    h2 {
        max-height: 140px;

    }
}

.sect2 {
    flex: 35%;
    border-radius: 0px 6px 6px 0px;
    background: #1179BF;
}



section.pers_info {
    h3::before {
        content: '1';
        display: inline-block;
        width: 20px;
        /* Adjust as needed for circle size */
        height: 20px;
        /* Adjust as needed for circle size */
        border: 2px solid #548BC5;
        /* Border style */
        border-radius: 50%;
        /* Makes the border circular */
        text-align: center;
        line-height: 20px;
        /* Adjust for vertical centering */
        margin-right: 10px;
        color: #548BC5;
    }

    form>div {
        display: flex;
        justify-content: space-between;
    }

    input {
        border-radius: 4px;
        background: #EDEFF2;
        border: transparent;
    }

    p>#email {
        width: 63.8%;

    }
}


section.pay_info {
    h3::before {
        content: '2';
        display: inline-block;
        width: 20px;
        /* Adjust as needed for circle size */
        height: 20px;
        /* Adjust as needed for circle size */
        border: 2px solid #548BC5;
        /* Border style */
        border-radius: 50%;
        /* Makes the border circular */
        text-align: center;
        line-height: 20px;
        /* Adjust for vertical centering */
        margin-right: 10px;
        color: #548BC5;
    }

    form p {
        display: flex;
        border: 5px;
        background: #EDEFF2;
        width: 100%;
        color: #EDEFF2;

        input {
            border: 0;
            background-color: #EDEFF2;
        }

        input:nth-child(1) {
            width: 65%;
            border: transparent;
        
        }

        input:nth-child(2) {
            width: 20%;
        }

        input:nth-child(3) {
            width: 14%;
        }
    }

}

input {
    height: 36px;
}

section.pay {
    padding-bottom: 48px;

    button {
        width: 100%;
        justify-content: space-evenly;
        border-radius: 5px;
        background: #038E7D;
        height: 52px;
    }

    p {
        color: #646E7A;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.01px;
        text-align: center;

        span:nth-child(1) {
            color: #1D2C3C;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.01px;
        }

        span:nth-child(2) {
            text-decoration: underline #646E7A;
        }
    }

    p::before {
        content: url(./assets/qmark.svg);
        display: inline-block;
        width: 20px;
        /* Adjust as needed for circle size */
        height: 20px;
        /* Adjust as needed for circle size */
        border: 2px solid #548BC5;
        /* Border style */
        border-radius: 50%;
        /* Makes the border circular */
        text-align: center;
        line-height: 20px;
        /* Adjust for vertical centering */
        margin-right: 10px;
        color: #548BC5;
    }

    .stripe {
        margin-left: 40%;


    }

}

.sect2 {
    width: 100%;

    section {
        margin-left: 14.1%;
        margin-right: 14.1%;

        p.first {
            margin-top: 6px;

            span:nth-child(1) {
                color: #FFF;
                font-family: Lato;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.015px;
                vertical-align: baseline;
                position: relative;
                top: -1em;
            }

            span:nth-child(2) {
                color: #FFF;
                font-family: Lato;
                font-size: 60px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -0.015px;
            }

            span:nth-child(3) {
                color: #FFF;
                font-family: Lato;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.015px;
            }
        }
    }

    h2 {
        margin-bottom: 4px;
    }

    div {
        padding-top: 12px;
    }

    div>p::before {

        content: url(./assets/mark.svg);
        display: inline-block;
        width: 20px;
        /* Adjust as needed for circle size */
        height: 20px;
        /* Adjust as needed for circle size */
        border: 2px #B9F5FF;
        /* Border style */
        border-radius: 50%;
        /* Makes the border circular */
        text-align: center;
        line-height: 20px;
        /* Adjust for vertical centering */
        margin-right: 10px;
        color: #B9F5FF;

    }

    div.mark>p {
        color: #FFF;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: -0.008px;

    }
}

.free{
    border-bottom:2px solid hsla(0, 0%, 100%, 0.2005);
}

.need{
    color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.008px;

span{
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.008px;
}
span#agent{
    font-style: italic;
}
}

.message{
    color: #FFF;
font-family: Lato;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 24px; /* 133.333% */
letter-spacing: -0.009px;

span{
    color: #FFF;
font-family: Lato;
font-size: 18px;
font-style: italic;
font-weight: 700;
line-height: 24px; /* 133.333% */
letter-spacing: -0.009px;
}
}

section.footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    img{
        border-radius: 50%;
    }
    p{
        color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.008px;
    }
}

.sect1>section{
    margin-top: 30px;
}

@media (max-width:1100px) {
    .wrapper2 {
        margin-left: 8.9722%;
        margin-right: 8.9722%;



    }
}

@media (max-width:800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }


    .wrapper2 {
        flex-direction: column;
        margin-left: 4.9722%;
        margin-right: 4.9722%;
    }

    form>div {
        flex-direction: row;

        .name, .name1{
            width: 100%;

            input {
                width: 70%;
                height: 30px;
            }

        }


    }

    p>input#email {
        width: 100% !important;
    }

}

@media (max-width:600px) {
    .wrapper2 {
        flex-direction: column;
        margin-left: 4.9722%;
        margin-right: 4.9722%;
    }

    form>div {
        flex-direction: column;

        p.name, p.name1 {
            width: 100%;

            input {
                width: 100%;
                height: 30px;
            }

        }


    }

    p>input#email {
        width: 100% !important;
    }

}
